html, body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: #fff;
  height: 100%;
}

footer {
  width: 100%;
  background-color: hsl(179, 62%, 43%);
  margin: auto 0 0 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: hsl(179, 62%, 43%);
  transition: background-color 0.2s;
}

a:hover {
  background-color: hsl(179deg 60% 47%);
}

.page {
  min-height: 900px;
  height: 100%;
  position: relative;
}

.panel {
  margin: auto auto;
  width: 635px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 310px;
  height: 725px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 0;
}

.description-block {
  height: 270px;
  display: block;
  padding: 12px 23px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 6px 6px 0 0;
}

.description-block>h2 {
  font-weight: bold;
  color: hsl(179, 62%, 43%);
  font-size: 1.225rem;
}

.description-block>h3 {
  font-weight: bold;
  color: hsl(71, 73%, 54%);
  font-size: 0.92rem;
  margin: 1.3em 0 0;
}

.description-block>p {
  margin: 1em 0 0;
  font-size: 0.85rem;
  line-height: 1.9;
  color: hsl(218, 22%, 67%);
}

.signup-block {
  padding: 21px 23px;
  box-sizing: border-box;
  vertical-align: top;
  background-color: hsl(179, 62%, 43%);
  display: block;
  width: 100%;
  line-height: 1;
}

.signup-block>h2 {
  font-size: 1.1rem;
  margin: 4px 0 0 0;
}

.signup-block>p {
  margin: 0.8rem 0 0 0;
  font-size: 0.978em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}

.price {
  font-size: 2rem;
  margin: 1.3rem 0 0 0;
  line-height: 1;
  font-weight: bold;
  display: block;
}

.price>span {
  font-size: 0.98rem;
  padding: 0 0 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 0.1em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.why-block {
  padding: 23px 24px;
  box-sizing: border-box;
  vertical-align: top;
  background-color: hsl(179, 62%, 43%);
  opacity: 0.8;
  border-radius: 0 0 5px 0;
  display: block;
  width: 100%;
}

.why-block>h2 {
  font-size: 1.1rem;
  margin: 0;
}

.why-block>p {
  font-size: 0.85rem;
  margin: 14px 0 4px 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.signup-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  background-color: #C0DF34;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  width: 231px;
  margin: 1.95rem 0 0.2rem 0;
}

.signup-button:hover {
  background: #B9D82D;
  border: solid #337FED 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
